#macImg {
    height: 400px;
    width: 550px;
    position: relative;
    top: 200px;
    left: 100px;
    border-color: black;
    border-radius: 10px;
}

header {
    font-size: 30px;
    font-weight: bold;
}

#food-price {
    position: absolute;
    top: 265px;
    right: 350px;
}
#food-name {
    position: absolute;
    top: 210px;
    right: 310px;
}

#food-desc {
    position: absolute;
    top: 320px;
    right: 150px;
}

button {
    background-color: black;
    color: white;
    position: absolute;
    top: 440px;
    right: 320px;
    border-radius: 5px;
    cursor: pointer;
}

#quantity-div label {
    color: black;
    font-size: 30px;
    position: absolute;
    display: flex;
    width: 30px;
    height: 20px;
    top: 430px;
    right: 630px;
    font-weight: bold;
    
}

#quantity-div input {
    top: 440px;
    right: 440px;
    position: absolute;
}

#notification-menu-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    background-color: black;
    color: white;
    width: 100%;

}


