#menu-name {
   position: absolute;
   left: 50%;
   top: 15%;

}

[class^="menu-row"] {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 5%;
    
}

[id^='menuDivId'] {
    text-align: center;
    font-weight: bold;
    background-color: yellow;
    border-color: black;
    border-style:solid; 
    width: 300px;
    height: 330px;
    
}

[id^="macImgId"] {
    height: 150px;
    width: 220px;
}


button {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}